<div class="payone-payment secured-direct-debit">
    {% block page_checkout_confirm_payone_card_title_secured_direct_debit %}
        <div class="card-title">
            {{ "PayonePayment.checkoutConfirmPage.defaultCardTitle" | trans }}
        </div>
    {% endblock %}

    {% block page_checkout_confirm_payone_card_content_secured_direct_debit %}
        {% set customerCustomFields = context.customer.customFields %}

        <div class="card">
            <fieldset>
                {% if customerCustomFields is null or customerCustomFields['payone_customer_phone_number'] is not defined or customerCustomFields['payone_customer_phone_number'] is empty %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="form-label" for="securedDirectDebitPhone">{{ "PayonePayment.securedDirectDebit.phoneNumber.label" | trans }}{% if not billingAddress.phoneNumber %}{{ "general.required"|trans|sw_sanitize }}{% endif %}</label>
                            <input class="form-control payone-input"
                                   id="securedDirectDebitPhone"
                                   name="securedDirectDebitPhone"
                                   type="tel"
                                   form="confirmOrderForm"
                                   required="required"/>
                        </div>
                    </div>
                {% endif %}

                {% if customerCustomFields is null or customerCustomFields['payone_customer_birthday'] is not defined or customerCustomFields['payone_customer_birthday'] is empty %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="form-label" for="securedDirectDebitBirthday">{{ "PayonePayment.securedDirectDebit.birthday.label" | trans }}{{ "general.required"|trans|sw_sanitize }}</label>
                            <input class="form-control payone-input"
                                   id="securedDirectDebitBirthday"
                                   name="securedDirectDebitBirthday"
                                   type="date"
                                   form="confirmOrderForm"
                                   required="required"/>
                        </div>
                    </div>
                {% endif %}

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label" for="securedDirectDebitIban">{{ "PayonePayment.securedDirectDebit.iban.label" | trans }}{{ "general.required"|trans|sw_sanitize }}</label>
                        <input class="form-control payone-input"
                               id="securedDirectDebitIban"
                               name="securedDirectDebitIban"
                               type="text"
                               form="confirmOrderForm"
                               required="required"/>
                    </div>
                </div>
            </fieldset>

            <div>
                <p>
                    {{ "PayonePayment.securedDirectDebit.general.consentText" |trans|raw }}
                </p>
            </div>
        </div>
    {% endblock %}
</div>
