<div class="payone-payment ratepay-debit">
    {% block page_checkout_confirm_payone_card_title_ratepay_debit_card %}
        <div class="card-title">
            {{ "PayonePayment.checkoutConfirmPage.defaultCardTitle" | trans }}
        </div>
    {% endblock %}

    {% block page_checkout_confirm_payone_card_content_debit_card %}
        {% set customerCustomFields = context.customer.customFields %}

        <div class="card">
            <fieldset>
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12">
                        <label class="form-label" for="ratepayIban">{{ "PayonePayment.ratepay.debit.iban.label" | trans }}{{ "general.required"|trans|sw_sanitize }}</label>
                        <input class="form-control payone-input"
                               id="ratepayIban"
                               name="ratepayIban"
                               form="confirmOrderForm"
                               required="required"/>
                    </div>
                </div>

                {% if customerCustomFields is null or customerCustomFields['payone_customer_phone_number'] is not defined or customerCustomFields['payone_customer_phone_number'] is empty %}
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-12">
                            <label class="form-label" for="ratepayPhone">{{ "PayonePayment.ratepay.debit.phoneNumber.label" | trans }}{% if not billingAddress.phoneNumber %}{{ "general.required"|trans|sw_sanitize }}{% endif %}</label>
                            <input class="form-control payone-input"
                                   id="ratepayPhone"
                                   name="ratepayPhone"
                                   type="tel"
                                   form="confirmOrderForm"
                                   required="required"/>
                        </div>
                    </div>
                {% endif %}

                <div class="form-row col-md-12">
                    <div class="form-group col-md-12">
                        <label class="form-label" for="ratepayBirthday">{{ "PayonePayment.ratepay.debit.birthday.label" | trans }}{{ "general.required"|trans|sw_sanitize }}</label>
                        <input class="form-control payone-input"
                               id="ratepayBirthday"
                               name="ratepayBirthday"
                               type="date"
                               form="confirmOrderForm"
                               required="required"/>
                    </div>
                </div>
            </fieldset>

            <div class="col-md-12">
                <p>
                    {{ "PayonePayment.ratepay.general.consentText" |trans|raw }}
                </p>
            </div>
        </div>
    {% endblock %}
</div>
