<div class="payone-payment credit-card">
    {% block page_checkout_confirm_payone_card_title_credit_card %}
        <div class="card-title">
            {{ "PayonePayment.checkoutConfirmPage.defaultCardTitle" | trans }}
        </div>
    {% endblock %}

    {% block page_checkout_confirm_payone_card_content_credit_card %}
        <div class="card">
            <fieldset>
                <input type="hidden" name="pseudoCardPan" id="pseudocardpan" form="confirmOrderForm">
                <input type="hidden" name="truncatedCardPan" id="truncatedcardpan" form="confirmOrderForm">
                <input type="hidden" name="cardExpireDate" id="cardexpiredate" form="confirmOrderForm">

                {% if page.extensions.payone.savedCards.total > 0 %}
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                            <label class="form-label" for="savedPseudoCardPan">{{ "PayonePayment.creditCard.savedCards" | trans }}</label>
                            <select class="form-control" id="savedpseudocardpan" name="savedPseudoCardPan" form="confirmOrderForm">
                                <option value="">{{ "PayonePayment.creditCard.newCard" | trans }}</option>

                                {% for card in page.extensions.payone.savedCards %}
                                    {% if card.expiresAt > date() %}
                                        <option value="{{ card.pseudoCardPan }}">
                                            {{ card.truncatedCardPan }}
                                            ({{ "PayonePayment.cardPage.expiresAt" | trans({'%expiresAt%': card.expiresAt | format_date('medium')}) }})
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}

                <div class="form-row col-md-12 credit-card-input">
                    <div class="form-group col-md-4">
                        <label class="form-label" for="cardpanInput">{{ "PayonePayment.creditCard.cardNumber" | trans }}</label>
                        <span class="form-control iframe" id="cardpan"></span>
                    </div>

                    <div class="form-group col-md-2 card-logo-container">
                        <label class="form-label" for="cardexpireyear">&nbsp;</label>
                        <img id="card-logo" src="" alt="card-logo" style="display: none;"/>
                    </div>
                </div>

                <div class="form-row col-md-12 credit-card-input">
                    <div class="form-group col-md-2">
                        <label class="form-label" for="cvcInput">{{ "PayonePayment.creditCard.securityCode" | trans }}</label>
                        <span class="form-control iframe" id="cardcvc2"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="form-label" for="cardexpiremonth">{{ "PayonePayment.creditCard.expiryDate" | trans }}</label>
                        <span class="form-control iframe" id="cardexpiremonth"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label class="form-label" for="cardexpireyear">&nbsp;</label>
                        <span class="form-control iframe" id="cardexpireyear"></span>
                    </div>
                </div>

                <div class="form-row col-md-12">
                    <div class="form-group col-md-12" >
                        <div id="iframeErrorOutput" class="alert alert-warning" role="alert" style="display: none;">
                            {{ "PayonePayment.creditCard.iframeError" | trans }}
                        </div>
                        <div id="errorOutput" class="alert alert-warning" role="alert" style="display: none;"></div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div data-is-payone-credit-card="true">
            <script type="application/json" id="payone-request" data-payone-language="{{ page.extensions.payone.language | raw }}">
                {{ page.extensions.payone.cardRequest | json_encode | raw }}
            </script>
        </div>
    {% endblock %}
</div>

