{% sw_extends '@Framework/documents/invoice.html.twig' %}

{% block document_payment_shipping_inner %}
    {{ parent() }}

    {% if constant('PayonePayment\\Provider\\Payolution\\PaymentMethod\\InstallmentPaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% block document_payment_payone_installment_clearing_reference %}
            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference %}
                <br>
                {{ 'PayonePayment.payolution.document.clearingReference' | trans({'%reference%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference}) }}<br>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% if constant('PayonePayment\\Provider\\Payolution\\PaymentMethod\\InvoicePaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% block document_payment_payone_invoicing_clearing_reference %}
            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference %}
                <br>
                {{ 'PayonePayment.payolution.document.clearingReference' | trans({'%reference%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference}) }}<br>
            {% endif %}
        {% endblock %}

        {% if order.extensions.payone_document %}
            <br>
            <strong>{{ 'PayonePayment.payolution.document.invoicingDescription' | trans }}</strong>
            {% block document_payment_payone_invoicing_iban %}
                {{ 'PayonePayment.payolution.document.iban' | trans({'%iban%': order.extensions.payone_document.iban}) }}<br>
            {% endblock %}

            {% block document_payment_payone_invoicing_bic %}
                {{ 'PayonePayment.payolution.document.bic' | trans({'%bic%': order.extensions.payone_document.bic}) }}<br>
            {% endblock %}
        {% endif %}
    {% endif %}

    {% if constant('PayonePayment\\Provider\\Payolution\\PaymentMethod\\DebitPaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% block document_payment_payone_debit_clearing_reference %}
            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference %}
                <br>
                {{ 'PayonePayment.payolution.document.clearingReference' | trans({'%reference%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference}) }}<br>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% if constant('PayonePayment\\Provider\\Payone\\PaymentMethod\\PrepaymentPaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% block document_payment_payone_prepayment_clearing_reference %}
            {% if order.transactions.last.payonePaymentOrderTransactionData.clearingBankAccount.Reference %}
                <br>
                {{ 'PayonePayment.prepayment.document.clearingReference' | trans({'%reference%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Reference}) }}<br>
            {% endif %}
        {% endblock %}

        {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Iban %}
            <br>
            <strong>{{ 'PayonePayment.prepayment.document.invoicingDescription' | trans }}</strong><br>
            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.BankAccountHolder %}
                {% block document_payment_payone_prepayment_holder %}
                    <br>
                    {{ 'PayonePayment.prepayment.document.holder' | trans({'%holder%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.BankAccountHolder}) }}
                {% endblock %}
            {% endif %}

            {% block document_payment_payone_prepayment_iban %}
                <br>
                {{ 'PayonePayment.prepayment.document.iban' | trans({'%iban%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Iban}) }}
            {% endblock %}

            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Bic %}
                {% block document_payment_payone_prepayment_bic %}
                    <br>
                    {{ 'PayonePayment.prepayment.document.bic' | trans({'%bic%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Bic}) }}
                {% endblock %}
            {% endif %}

            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Reference %}
                {% block document_payment_payone_prepayment_reference %}
                    <br>
                    {{ 'PayonePayment.prepayment.document.reference' | trans({'%reference%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Reference}) }}
                {% endblock %}
            {% endif %}
            <br><br><strong><em>{{ 'PayonePayment.prepayment.document.accountNotice' | trans }}</em></strong><br>
        {% endif %}
    {% endif %}

    {% if constant('PayonePayment\\Provider\\Payone\\PaymentMethod\\SecureInvoicePaymentMethod::UUID') == order.transactions.last.paymentMethod.id or constant('PayonePayment\\Provider\\Payone\\PaymentMethod\\OpenInvoicePaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}        
        {% block document_payment_payone_secure_invoice_clearing_reference %}{% endblock %}

        {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Iban %}
            <br>
            <strong>{{ 'PayonePayment.secureInvoice.document.invoicingDescription' | trans }}</strong><br>
            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.BankAccountHolder %}
                {% block document_payment_payone_secure_invoice_holder %}
                    <br>
                    {{ 'PayonePayment.secureInvoice.document.holder' | trans({'%holder%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.BankAccountHolder}) }}
                {% endblock %}
            {% endif %}

            {% block document_payment_payone_secure_invoice_iban %}
                <br>
                {{ 'PayonePayment.secureInvoice.document.iban' | trans({'%iban%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Iban}) }}
            {% endblock %}

            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Bic %}
                {% block document_payment_payone_secure_invoice_bic %}
                    <br>
                    {{ 'PayonePayment.secureInvoice.document.bic' | trans({'%bic%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Bic}) }}
                {% endblock %}
            {% endif %}

            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Reference %}
                {% block document_payment_payone_secure_invoice_reference %}
                    <br>
                    {{ 'PayonePayment.secureInvoice.document.reference' | trans({'%reference%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Reference}) }}
                {% endblock %}
            {% endif %}

            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingBankAccount.Bic %}
                {% block document_payment_payone_secure_invoice_due_date %}
                    <br>
                    {{ 'PayonePayment.secureInvoice.document.dueDate' | trans }}
                {% endblock %}
            {% endif %}

            <br><br><strong><em>{{ 'PayonePayment.secureInvoice.document.accountNotice' | trans }}</em></strong><br>
        {% endif %}
    {% endif %}

    {% if constant('PayonePayment\\Provider\\Payone\\PaymentMethod\\SecuredInvoicePaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% set securedInvoiceDataExtension = constant('\\PayonePayment\\Provider\\Payone\\Extension\\SecuredInvoice\\SecuredInvoiceDocumentDataExtension::EXTENSION_NAME') %}
        {% if order.extensions[securedInvoiceDataExtension] %}
            {% block document_payment_payone_secured_invoice_clearing_reference %}{% endblock %}
            <br>
            <strong>{{ 'PayonePayment.securedInvoice.document.invoicingDescription' | trans }}</strong><br>

            {% for securedInvoiceData in order.extensions[securedInvoiceDataExtension].documentData %}
                {% if securedInvoiceData.accountHolder %}
                    {% block document_payment_payone_secured_invoice_holder %}
                        <br>
                        {{ 'PayonePayment.securedInvoice.document.holder' | trans({'%holder%': securedInvoiceData.accountHolder}) }}
                    {% endblock %}
                {% endif %}

                {% block document_payment_payone_secured_invoice_iban %}
                    <br>
                    {{ 'PayonePayment.securedInvoice.document.iban' | trans({'%iban%': securedInvoiceData.iban}) }}
                {% endblock %}

                {% if securedInvoiceData.bic %}
                    {% block document_payment_payone_secured_invoice_bic %}
                        <br>
                        {{ 'PayonePayment.securedInvoice.document.bic' | trans({'%bic%': securedInvoiceData.bic}) }}
                    {% endblock %}
                {% endif %}

                {% if securedInvoiceData.reference %}
                    {% block document_payment_payone_secured_invoice_reference %}
                        <br>
                        {{ 'PayonePayment.securedInvoice.document.reference' | trans({'%reference%': securedInvoiceData.reference}) }}
                    {% endblock %}
                {% endif %}

                {% if securedInvoiceData.dueDate %}
                    {% block document_payment_payone_secured_invoice_due_date %}
                        <br>
                        {% set formattedDueDate = securedInvoiceData.dueDate|slice(0, 4) ~ "-" ~ securedInvoiceData.dueDate|slice(4, 2) ~ "-" ~ securedInvoiceData.dueDate|slice(6, 2) %}
                        {{ 'PayonePayment.securedInvoice.document.dueDate' | trans({'%dueDate%': formattedDueDate|format_date('medium')}) }}
                    {% endblock %}
                {% endif %}
            {% endfor %}

            <br><br><strong><em>{{ 'PayonePayment.securedInvoice.document.accountNotice' | trans }}</em></strong><br>
        {% endif %}
    {% endif %}
{% endblock %}

{% block document_footer_bank_name %}
    {{ parent() }}

    {% if constant('PayonePayment\\Provider\\Payolution\\PaymentMethod\\InvoicePaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% block document_payment_payone_invoicing_footer_clearing_reference %}
            {% if order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference %}
                <li>{{ 'PayonePayment.payolution.document.clearingReference' | trans({'%reference%': order.transactions.last.extensions.payonePaymentOrderTransactionData.clearingReference}) }}</li>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}

{% block document_footer_bank_iban %}
    {% if constant('PayonePayment\\Provider\\Payolution\\PaymentMethod\\InvoicePaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% if order.extensions.payone_document %}
            {% block document_payment_payone_invoicing_footer_iban %}
                <li>{{ 'PayonePayment.payolution.document.iban' | trans({'%iban%': order.extensions.payone_document.iban}) }}</li>
            {% endblock %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block document_footer_bank_bic %}
    {% if constant('PayonePayment\\Provider\\Payolution\\PaymentMethod\\InvoicePaymentMethod::UUID') == order.transactions.last.paymentMethod.id %}
        {% if order.extensions.payone_document %}
            {% block document_payment_payone_invoicing_footer_bic %}
                <li>{{ 'PayonePayment.payolution.document.bic' | trans({'%bic%': order.extensions.payone_document.bic}) }}</li>
            {% endblock %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
