<div class="payone-payment paysafe-invoicing">
    {% block page_checkout_confirm_payone_card_title_paysafe_installment %}
        <div class="card-title">
            {{ "PayonePayment.paysafe.invoicing.cardTitle"  |  trans }}
        </div>
    {% endblock %}

    {% block page_checkout_confirm_payone_card_content_paysafe_installment %}
        <div class="card">
            <div class="form-row">
                <div class="col-12">
                    <label for="paysafeInvoicingBirthday">
                        {{ "PayonePayment.paysafe.invoicing.birthday.label" | trans }}{{ "general.required" | trans }}
                    </label>
                </div>

                <div class="form-group col-4">
                    <input
                        type="date"
                        id="paysafeInvoicingBirthday"
                        name="paysafeInvoicingBirthday"
                        class="form-control{% if formViolations.getViolations('/paysafeInvoicingBirthday') is not empty %} is-invalid{% endif %}"
                        form="confirmOrderForm"
                        required="required"
                        {% if context.customer.birthday is not empty %}value="{{ context.customer.birthday|date('Y-m-d') }}"{% endif %}
                    />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <div class="custom-control custom-checkbox">
                        <input
                            type="checkbox"
                            class="custom-control-input{% if formViolations.getViolations('/paysafeInvoicingConsent') is not empty %} is-invalid{% endif %}"
                            id="paysafeInvoicingConsent"
                            form="confirmOrderForm"
                            name="paysafeInvoicingConsent"
                        />

                        <label for="paysafeInvoicingConsent" class="custom-control-label consent-label">
                            {{ "PayonePayment.paysafe.invoicing.consentCheckbox.introduction" | trans }}
                            {{ "PayonePayment.paysafe.invoicing.consentCheckbox.textWithLink" | trans({
                                '%link%': path('frontend.account.payone.paysafe.invoicing-consent')
                            }) | raw }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div data-is-payone-paysafe-invoicing="true"></div>
    {% endblock %}
</div>
