{% block component_payone_paypal_button %}
    <a href="{{ path('frontend.account.payone.paypal.express-checkout') }}" title="{{ "PayonePayment.paypalExpress.buttonTitle" | trans }}">
        <img
            src="{{ asset('bundles/payonepayment/payment/paypal/ecs/' ~ ('PayonePayment.paypalExpress.buttonImage' | trans)) }}"
            srcset="{{ asset('bundles/payonepayment/payment/paypal/ecs/' ~ ('PayonePayment.paypalExpress.buttonImage' | trans)) }}, {{ asset('bundles/payonepayment/payment/paypal/ecs/' ~ ('PayonePayment.paypalExpress.buttonImage2x' | trans)) }} 2x"
            title="{{ "PayonePayment.paypalExpress.buttonTitle" | trans }}"
            alt="PayPal Express Checkout Button"
        >
    </a>
{% endblock %}
